.title {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #828282;
  letter-spacing: -0.5px;
}

#contentWrapper {
  display: block;
  padding: 5px;
}

td {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #828282;
}

td,
th {
  display: table-cell;
  vertical-align: inherit;
}

.subtext {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 7pt;
  color: #828282;
}

a:link {
  color: #000000;
  text-decoration: none;
}

a:visted {
  color: #000000;
}

.votearrow {
  width: 10px;
  height: 10px;
  border: 0px;
  margin: 3px 2px 6px 2px;
  background: no-repeat;
  color: #828282;
  background-image: url(https://news.ycombinator.com/grayarrow.gif);
}

.comhead {
  font-size: 8pt;
  color: #828282;
  font-family: Verdana, Geneva, sans-serif;
}
